@model CPSWebApplication.Models.ViewModel.UserModel
@{
    ViewBag.Title = "Faculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="color:blue">Welcome to Faculty CPS Portal</h3>
@using (Html.BeginForm("", ""))
{
    <div style="background-color:blue; align-content:inherit">
        <div>
            <div style="align-items:center; padding-top:20px; padding-bottom:20px ;padding-left:100px; background-color:chartreuse">
                <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewBlanckCPS","FacultyAdvisor")')"><img src="~/Content/Images/initialcps.png" class="img-responsive" width="140" />View Initial CPS</button>

                &nbsp;&nbsp;<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("CreateDraftCPS","FacultyAdvisor")')"><img src="~/Content/Images/auditcps.png" class="img-responsive" width="140" />Create Draft CPS</button>
            </div>
            <div>
                <br/>
                <!--<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewDraftCps","FacultyAdvisor")')">View Draft CPS</button>

                <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewFinalCPS","FacultyAdvisor")')">View Final CPS</button>-->
            </div>
        </div>
    </div>
}

