@model CPSWebApplication.Models.ViewModel.UserModel
@{
    ViewBag.Title = "Secretary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Welcome to Secretary Portal</h2>
<h2>@Model.FirstName</h2>


<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("StudentList","Secretary")')">List of Students</button>