@model CPSWebApplication.Models.ViewModel.UserModel
@{
    ViewBag.Title = "Secretary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 >Welcome to Secretary Portal</h2>
<h2 class="text-hide">@Model.FirstName</h2>


<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("StudentList","Secretary")')"><img src="https://cdn2.iconfinder.com/data/icons/startup-management/325/Project_management_Lessons_Log-256.png" class="img-responsive" width="140" />List of Students</button>