@model CPSWebApplication.Models.ViewModel.UserModel
@{
    ViewBag.Title = "Secretary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="color:blue" >Welcome to Secretary CPS Portal</h3>
<div style="background-color:blue; align-content:inherit">
    <div style="align-content:center; padding-top:20px; padding-bottom:20px ;padding-left:100px; background-color:chartreuse">
        <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("StudentList","Secretary")')"><img src="~/Content/Images/list.png" class="img-responsive" width="140" />List of Students</button>
    </div>
    <br/>
</div>