@model CPSWebApplication.Models.ViewModel.UserModel

@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.FirstName</h2>

<h2>Welcome to Student Portal</h2>

<div>
    <div>
        <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewBlankCPS","Student")')"><img src="https://cdn2.iconfinder.com/data/icons/startup-management/325/Project_management_Lessons_Log-256.png" class="img-responsive" width="140" />View Blank CPS</button>
    
        &nbsp;&nbsp;<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewDraftCPS","Student")')"><img src="https://cdn2.iconfinder.com/data/icons/startup-management/325/Project_management_Project_Brief-256.png" class="img-responsive" width="140" />View Draft CPS</button>
    
        &nbsp;&nbsp;<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("","")')"><img src="https://cdn2.iconfinder.com/data/icons/startup-management/325/Project_management_Project_initiation_Documentation-256.png" class="img-responsive" width="140" />View Final CPS</button>
    </div>
   
</div>