@model CPSWebApplication.Models.ViewModel.UserModel

@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.FirstName</h2>

<h2>Welcome to Student Portal</h2>

<div>
    <div>
        <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewBlankCPS","Student")')">View Blank CPS</button>
    </div>
    <br /><br />
    <div>
        <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewDraftCPS","Student")')">View Draft CPS</button>
    </div>
    <br /><br />
    <div>
        <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("","")')">View Final CPS</button>
    </div>
   
</div>