@model CPSWebApplication.Models.ViewModel.UserModel

@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="color:blue">Welcome to Student CPS Portal</h3>
<div style="background-color:blue; align-content:inherit">
    <div style="align-content:center; padding-top:20px; padding-bottom:20px ;padding-left:100px; background-color:chartreuse">
        <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewBlankCPS","Student")')"><img src="~/Content/Images/list.png" class="img-responsive" width="140" />View Blank CPS</button>
        
        &nbsp;&nbsp;<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewDraftCPS","Student")')"><img src="~/Content/Images/draftcps.png" class="img-responsive" width="140" />View Draft CPS</button>
    
        &nbsp;&nbsp;<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("","")')"><img src="~/Content/Images/finalcps1.png" class="img-responsive" width="140" />View Final CPS</button>
    </div>
    <div>
        <br/>
    </div>
</div>